/Jiri.FSharp/Jiri.FSharp.TennisGame/.vs
/Jiri.FSharp/Jiri.FSharp.TennisGame/bin
/Jiri.FSharp/Jiri.FSharp.TennisGame/obj
/Jiri.FSharp/Jiri.FSharp.TennisGame.UnitTests/bin
/Jiri.FSharp/Jiri.FSharp.TennisGame.UnitTests/obj
/Jiri.FSharp/packages
/Jiri.FSharp/.vs/Jiri.FSharp.TennisGame/v14/*.suo
/Jiri.FSharp/.vs
